<a href="https://colab.research.google.com/github/vhpraneeth/VIT_DWDM/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

18BCE7147

[GitHub Link](https://github.com/vhpraneeth/VIT_DWDM/blob/main/Lab_4.ipynb)

# Handling Categorical Encodings

> ## 1. Replace Values

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
df_flights = pd.read_csv('https://raw.githubusercontent.com/ismayc/pnwflights14/master/data/flights.csv')
df_flights.head()

   year  month  day  dep_time  dep_delay  ...  dest  air_time distance hour  minute
0  2014      1    1       1.0       96.0  ...   ANC     194.0     1542  0.0     1.0
1  2014      1    1       4.0       -6.0  ...   CLT     252.0     2279  0.0     4.0
2  2014      1    1       8.0       13.0  ...   IAH     201.0     1825  0.0     8.0
3  2014      1    1      28.0       -2.0  ...   CLT     251.0     2282  0.0    28.0
4  2014      1    1      34.0       44.0  ...   ANC     201.0     1448  0.0    34.0

[5 rows x 16 columns]

In [3]:
cat_df_flights = df_flights.select_dtypes(include=['object']).copy()
cat_df_flights.tail()

       carrier tailnum origin dest
162044      UA  N477UA    PDX  IAH
162045      DL  N137DL    SEA  ATL
162046      AS  N530AS    SEA  SAN
162047      US     NaN    PDX  PHX
162048      WN  N790SW    SEA  SMF

In [4]:
print(cat_df_flights.isnull().values.sum())

248

In [5]:
cat_df_flights['tailnum'].value_counts().index[0]

'N223AG'

In [6]:
cat_df_flights = cat_df_flights.fillna(cat_df_flights['tailnum'].value_counts().index[0])
print(cat_df_flights)

       carrier tailnum origin dest
0           AS  N508AS    PDX  ANC
1           US  N195UW    SEA  CLT
2           UA  N37422    PDX  IAH
3           US  N547UW    PDX  CLT
4           AS  N762AS    SEA  ANC
...        ...     ...    ...  ...
162044      UA  N477UA    PDX  IAH
162045      DL  N137DL    SEA  ATL
162046      AS  N530AS    SEA  SAN
162047      US  N223AG    PDX  PHX
162048      WN  N790SW    SEA  SMF

[162049 rows x 4 columns]

In [7]:
cat_df_flights_lc = cat_df_flights.copy()
cat_df_flights_lc['carrier'] = cat_df_flights_lc['carrier'].astype('category')
cat_df_flights_lc['origin'] = cat_df_flights_lc['origin'].astype('category')                                                              

print(cat_df_flights_lc.dtypes)

carrier    category
tailnum      object
origin     category
dest         object
dtype: object

> ## 2. Label Encoding

In [8]:
cat_df_flights.head()

  carrier tailnum origin dest
0      AS  N508AS    PDX  ANC
1      US  N195UW    SEA  CLT
2      UA  N37422    PDX  IAH
3      US  N547UW    PDX  CLT
4      AS  N762AS    SEA  ANC

In [9]:
cat_df_flights_sklearn = cat_df_flights.copy()

from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
cat_df_flights_sklearn['carrier_code'] = lb_make.fit_transform(cat_df_flights['carrier'])

cat_df_flights_sklearn.head() #Results in appending a new column to df

  carrier tailnum origin dest  carrier_code
0      AS  N508AS    PDX  ANC             1
1      US  N195UW    SEA  CLT             8
2      UA  N37422    PDX  IAH             7
3      US  N547UW    PDX  CLT             8
4      AS  N762AS    SEA  ANC             1

In [10]:
cat_df_flights.head()

  carrier tailnum origin dest
0      AS  N508AS    PDX  ANC
1      US  N195UW    SEA  CLT
2      UA  N37422    PDX  IAH
3      US  N547UW    PDX  CLT
4      AS  N762AS    SEA  ANC

# 3. Dummy Encoding

In [11]:
cat_df_flights_onehot = cat_df_flights.copy()
cat_df_flights_onehot = pd.get_dummies(cat_df_flights_onehot, columns=['carrier'], prefix = ['carrier'])

cat_df_flights_onehot.head()

  tailnum origin dest  ...  carrier_US  carrier_VX  carrier_WN
0  N508AS    PDX  ANC  ...           0           0           0
1  N195UW    SEA  CLT  ...           1           0           0
2  N37422    PDX  IAH  ...           0           0           0
3  N547UW    PDX  CLT  ...           1           0           0
4  N762AS    SEA  ANC  ...           0           0           0

[5 rows x 14 columns]

> ## 4. Binary Encoding

In [13]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.6MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.17.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [14]:
cat_df_flights_ce = cat_df_flights.copy()

import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['carrier'])
df_binary = encoder.fit_transform(cat_df_flights_ce)

df_binary.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   carrier_0  carrier_1  carrier_2  carrier_3  carrier_4 tailnum origin dest
0          0          0          0          0          1  N508AS    PDX  ANC
1          0          0          0          1          0  N195UW    SEA  CLT
2          0          0          0          1          1  N37422    PDX  IAH
3          0          0          0          1          0  N547UW    PDX  CLT
4          0          0          0          0          1  N762AS    SEA  ANC

# You can explore the normalization/standardization of numerical features